* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
